@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", arial;
  border: solid 0 yellow;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 14px;
}

main {
  width: 100%;
  height: 100%;
}

main section {
  width: 100%;
  height: 100%;
}

main #timer-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  gap: 0;
}

main #timer-section .player-timer {
  width: 100%;
  max-height: 50%;
  flex-basis: 0;
  flex-grow: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  background-color: #8B8987;
  padding: 1.1rem;
}

main #timer-section .player-timer > div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  font-size: 1.2rem;
}

main #timer-section .player-timer .time-left {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 7.2rem;
  font-weight: 600;
  color: #292928;
}

main #timer-section .player-timer .time-adjust-container {
  justify-content: flex-start;
}

main #timer-section #player-A {
  transform: rotateZ(180deg);
}

main #timer-section .active-player {
  background-color: #4682B4;
}

main #timer-section .timer-settings {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 0;
  background-color: #292928;
  padding: 1.1rem;
}

main #timer-section .timer-settings button {
  width: 3.5rem;
  height: 3.5rem;
  color: #8B8987;
  font-size: 1.7rem;
  border-radius: 50%;
  transition: all 0.5s ease-out;
}

main #timer-section .timer-settings button:active {
  background-color: #535251;
}
