@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", arial;
  border: solid 0 yellow;
}

button, input, select {
  appearance: none;
  -webkit-appearance: none;
  border: none;
  outline: none;
  color: #8B8987;
  background-color: transparent;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 14px;
  background-color: #292928;
}

main {
  width: 100%;
  height: 100%;
}

main section {
  width: 100%;
  height: 100%;
}

main #timer-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  gap: 0.5rem;
  padding: 0.5rem;
}

main #timer-section .player-timer {
  width: 100%;
  max-height: 50%;
  flex-basis: 0;
  flex-grow: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  background-color: #8B8987;
  color: #292928;
  padding: 1.5rem;
  border-radius: 1.07rem;
}

main #timer-section .player-timer > div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  font-size: 1.2rem;
}

main #timer-section .player-timer .time-left {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 7.2rem;
  font-weight: 600;
  color: inherit;
}

main #timer-section .player-timer .time-adjust-button {
  justify-content: flex-start;
}

main #timer-section #player-A {
  transform: rotateZ(0deg);
}

main #timer-section .active-player {
  background-color: #4682B4;
  color: #FFFFFF;
}

main #timer-section .time-up {
  background-color: #FE6F5E;
}

main #timer-section .timer-settings {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 0;
  background-color: #292928;
  padding: 0.75rem;
  border-radius: 1.07rem;
  border: solid 0.15rem #969493;
}

main #timer-section .timer-settings button {
  width: 3.5rem;
  height: 3.5rem;
  font-size: 1.7rem;
  border-radius: 50%;
  transition: all 0.5s ease-out;
}

main #timer-section .timer-settings button:active {
  background-color: #969493;
}

main .adjust-timer-section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  background: rgba(0, 0, 0, 0.5);
}

main .adjust-timer-section .adjust-timer {
  width: fit-content;
  max-width: 28rem;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 1.75rem;
  flex-wrap: wrap;
  background-color: #292928;
  color: #969493;
  font-size: 1.2rem;
  padding: 1.8rem;
  border-radius: 0.75rem;
}

main .adjust-timer-section .adjust-timer .header {
  width: 100%;
}

main .adjust-timer-section .adjust-timer .timer-block {
  width: 5.5rem;
  height: 6rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: inherit;
}

main .adjust-timer-section .adjust-timer .timer-block select {
  appearance: none;
  webkit-appearance: none;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 3rem;
}

main .adjust-timer-section .adjust-timer .adjust-box-buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

main .adjust-timer-section .adjust-timer .adjust-box-buttons button {
  font-size: 1.2rem;
}
